

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An error occurred while processing your request.</h1>
<h2>Development Mode</h2>
<p>
    Sorry, an error occurred while processing your request. The error details are as follows:
</p>
<h3>Exception Details:</h3>
<pre>
    @Model.Exception
</pre>
